.register--container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}
.logo h1{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-top: 15px;
}
.logo span{
  font-size: 40px;
}
.logo p{
  padding-top: 5px;
  color: #43578D;
  font-weight: 600;
}
.inputs--container{
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: #43578D;
    flex-direction: column;
    overflow: auto;
    margin-top: -50px;
    width: 80%;
    margin-bottom: 20px;

}
.icons .mat-icon{
  width: 28px;
}
.icons{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: -10px;
  margin-top: -10px;
}
.bottom--items{
display: flex;
flex-direction: column;
}
.bottom--items button{
  width: 280px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}
.bottom--items a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.bottom--items span {
  margin-top: 5px;
  font-size: 16px;
  color: white;
}

/************Material***************/
.mat-form-field{
  min-width: 250px;
  width: 280px;
  font-size: 20px;

}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(255 255 255 / 38%);
  width: 300px;
}

