<div class="user--welcome-menu">
  <button mat-button [matMenuTriggerFor]="menu">Welcome Given Makofane<mat-icon>more_vert</mat-icon>
    <mat-chip>
      Basic Plan
    </mat-chip>
  </button>
  <mat-menu #menu="matMenu" yPosition="below" xPosition="after">
    <a routerLink="/manageItems"><button mat-menu-item>Manage Hustles</button></a>
    <a routerLink="/plan"><button mat-menu-item>Update Subscription</button></a>
    <a routerLink="/home"><button mat-menu-item>Logout</button></a>
      <a routerLink="/home"><button mat-menu-item>Home</button></a>
    </mat-menu>
</div>
