
<div class="main--category">
</div>

<div class="contents--container">
  <div class="sub--categories">
  </div>
  <div class="items">
    <ul>
        <img src={{event.posterImgUrl}} alt="">
        <div  class="details">

          <div class="name">
             <h4>{{event.name}}</h4>
          </div>
        <p>{{event.eventDetails}}</p>
        <div class="prices">
          <h5>{{event.startDateTime}} </h5>
          <h5>{{event.startDateTime}} </h5>

        </div>
          <div class="details">
            <p>{{event.eventLocation}}</p>
          <p>Host: {{event.hostName}}</p>
          <p>Phone: 0785548789</p>
          <a href="/home">Back</a>

          </div>

        </div>

    </ul>


  </div>
</div>
