<app-userbadge></app-userbadge>
<div class="advert--conatainer">

  <div class="header--content">
    <h2>Hustle Smart ;)</h2>
    <p>Please select your hustle type</p>
  </div>

</div>

<div class="hint">
  <span>I want to</span>
</div>

<div class="product">
  <a routerLink="/register/product">
    <div class="category--btn">
      <img src="../../../../assets/productbg.svg" alt="">
      <div class="text">Sell A Product</div>
    </div>
  </a>
</div>

<div class="product">
  <a routerLink="/register/service">
    <div class="category--btn">
      <img src="../../../../assets/service.svg" alt="">
      <div class="text">Provide A Service</div>
    </div>
  </a>
</div>

<div class="product">
  <a routerLink="/register/event">
    <div class="category--btn">
    <img src="../../../../assets/event.svg" alt="">
    <div class="text">Invite People To An Event</div>
  </div>
  </a>
</div>
