
<div class="main--category">
</div>

<div class="contents--container">
  <div class="sub--categories">
  </div>
  <div class="items">
    <ul>
        <img src={{service.imageUrl}} alt="">
        <div  class="details">

          <div class="name">
            <mat-chip>

               Open Now
            </mat-chip>
             <h4>{{service.name}}</h4>
          </div>
        <p>{{service.details}}</p>
        <div class="prices">
          <h5>R {{service.cost}} per hour</h5>
        </div>
          <div class="details">
            <p>12 Madela Street</p>
          <p>Email:mandy@gmail.com</p>
          <p>Phone: 0785548789</p>
          <a href="/hire">Back</a>

          </div>

        </div>

    </ul>


  </div>
</div>
