.search--container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-top: 20px;
}
.mat-form-field{
  width: 50%;
  align-items: center;
}
.mat-form-field input{
  margin: 5px;
  font-size: 20px;
}

.mat-icon{
  font-size: 35px;
  margin-bottom: 10px;
  height: max-content;
  width: max-content;
  color: rgba(44, 112, 174, 0.98);
}
