<div class="container">
  <div class="heading">
    <h4>Product To Sell</h4>
  </div>
  <div class="fields">
    <div class="name--section">
      <p>I am selling:</p>
      <input type="text">
    </div>
    <div class="price--section">
      <p>The price is between:</p>
      <div class="inputs">
          <div class="input--left">
              <input type="number">
              <mat-hint>The cheapest</mat-hint>
          </div>
          <div class="input--right">
            <input type="number">
            <mat-hint>Most expensive</mat-hint>
        </div>
      </div>
    </div>

  </div>
</div>
