.top--ellipsis > img{
  height: 100px;
  max-height: 200px;
  position: absolute;
  max-width: inherit;
}
.top--ellipsis img:nth-last-child(1){
  top: 0px;
  left: 10px;
}
.top--ellipsis img:nth-last-child(2){
  left: -60px;
  top: 50px;
  -ms-transform: rotate(-20deg);
  transform: rotate(-90deg);
}
*{
  margin: 0;
}
h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding-top: 40px;
  padding-left: 20px;
  z-index: 1;
  color: white;
  position: relative;
}
a{
  text-decoration: none;
}
/* .pulse {

  animation: pulse 3s linear infinite;
}

@keyframes pulse {
0% {
 -webkit-transform: scale(1);
 transform: scale(1);
}
50% {
-webkit-transform: scale(0.9);
transform: scale(0.9);
}
100% {
 -webkit-transform: scale(1);
transform: scale(1);
}
} */
