<!-- <app-header></app-header> -->
<app-prod-search></app-prod-search>

<div class="prod--container">
  <div class="location">
    <p>Showing results within 5km around you</p>
    <a href="">change distance or location</a>
  </div>


  <div class="main--category">
    <a href="/home"><button>To Purchase</button></a>
    <a routerLink="/hire"><button>Hire / Rent</button></a>
    <a routerLink="/events"><button>Attend Event</button></a>
  </div>

  <div class="contents--container">
    <div class="sub--categories">
      <app-categories></app-categories>
    </div>
    <app-not-found
    [visible]="!products || !products.length"
    notFoundMessage="Product not found"
    reserLinkText="View All"
    resetLinkRoute = '/home'
></app-not-found>
    <div class="items">
      <ul>
        <li *ngFor="let prod of products">
          <a routerLink="/sProduct/{{prod.id}}">
          <img src={{prod.imageUrl}} alt="">
          <div  class="details">

            <div class="name">
              <h4>{{prod.name}}</h4>
            </div>

            <div class="prices">
              <h5>From: R {{prod.minPrice}}</h5>
              <h5>To: R {{prod.maxPrice}}</h5>
            </div>
            <mat-icon>launch</mat-icon>



          </div>
          </a>
        </li>
      </ul>

    </div>
  </div>

</div>
