<app-userbadge></app-userbadge>
<div class="container">

  <div class="heading">
    <h4>Creating Event Invite</h4>
  </div>

  <div class="fields">

    <div class="name--section">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>I am hosting</mat-label>
        <input matInput placeholder="Ex. Fun run day" >
      </mat-form-field>
    </div>

    <div class="check">
      <mat-checkbox class="check">Fund Raising event</mat-checkbox>
    </div>

    <div class="price--section">
      <p>The prices are:</p>

      <div class="inputs">

          <div class="input--left">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Kids</mat-label>
              <span matPrefix>R &nbsp;</span>
              <input matInput placeholder="Ex. 20" >
            </mat-form-field>
          </div>

          <div class="input--right">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Adults</mat-label>
              <span matPrefix>R &nbsp;</span>
              <input matInput placeholder="Ex. 70" >
            </mat-form-field>

          </div>
      </div>
      <div class="check">
        <mat-checkbox class="check">No kids Allowed!</mat-checkbox>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>

      <div class="inputs">

        <div class="input--left">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Start Time</mat-label>
            <mat-icon matSuffix>time</mat-icon>
            <input matInput placeholder="10:00" type="time" >
          </mat-form-field>
        </div>

        <div class="input--right">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>End Time</mat-label>
            <mat-icon matPrefix>time</mat-icon>
            <input matInput placeholder="12:00" type="time" >
          </mat-form-field>

        </div>
    </div>
      <div class="details">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Give more details about your Event</mat-label>
          <mat-hint>{{message.value.length}} / 256</mat-hint>
          <textarea #message matInput placeholder="Ex. Fun color run race, food stalls, mini soccer game"></textarea>
        </mat-form-field>

      </div>

      <div class="location">
        <mat-form-field appearance="fill">
          <mat-label>Enter address</mat-label>
          <input
             class="my-search-box"
            (keydown.enter)="$event.preventDefault()"
            placeholder="Search Location"
            type="text"
            #search
           matInput placeholder="Placeholder">
          <mat-icon matPrefix>my_location</mat-icon>
        </mat-form-field>
      </div>

      <div *ngIf="apiLoaded | async">
        <google-map
        #myGoogleMap
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options">
</google-map>
      </div>

      <div class="images">
        <div>
          <p>Upload Event Poster Picture</p>
          <input type="file">
        </div>

      </div>
    </div>
    <button color="primary" mat-button >Submit</button>

  </div>
</div>
