<h1>Please Choose a subscription plan</h1>

<div class="main">

  <div class="container">
      <div class="card">
          <div class="face face1">
              <div class="content">
                <img src="../../../../assets/free.jpg">
                  <h3>Basic</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <ul>
                    <h5>30 days on Us</h5>
                    <li>Add up to 10 products, 5 events, 5 services</li>
                    <li>Upload 10 images</li>
                  </ul>
                      <a routerLink="/payment">Procees to Payment</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="../../../../assets/fast.gif">
                  <h3>Standard</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                <ul>
                  <h5><span>R150</span> Yearly Plan</h5>
                  <h5>Your hustle will be visible for 1 year</h5>
                  <li>Add up to 50 products, 10 events, 10 services</li>
                  <li>Upload 10 images</li>
                </ul>
                <a routerLink="/payment">Procees to Payment</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                  <h3>Premium</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                <ul>
                  <h5><span>R200</span> Yearly Plan</h5>
                  <h5>Your hustle will be visible for 1 year</h5>
                  <li>Add up to 100 products, 20 events, 20 services</li>
                  <li>Upload 10 images</li>
                </ul>
                <a routerLink="/payment">Procees to Payment</a>
              </div>
          </div>
      </div>
  </div>
</div>
