a{
  text-decoration: none;
  color: black;
  font-size: 17px;
}
li a:hover,li:hover{
  color: rgb(44, 112, 174);
}
ul{
  list-style: none;
}
li{
  display: flex;
  flex-wrap: wrap;
}

.list .mat-icon{
  font-size: 16px;
}
div{
  background-color: white;
  max-width: max-content;
  padding: 5px 10px 5px 5px;
  height: 200px;
}
.filter > .mat-icon{
  font-size: 28px;
}
button{
  width: 80px;
  margin-left: 5px;
  border: none;
  padding: 5px;
  background-color: rgba;
}
